fastapi==0.115.6
uvicorn[standard]==0.34.0
python-multipart==0.0.20
faster-whisper==1.1.0
opencv-python-headless==4.10.0.84
numpy==2.1.3
jinja2==3.1.5

yt-dlp

google-api-python-client==2.181.0
google-auth==2.40.3
google-auth-oauthlib==1.2.2